 @font-face
    font-family Roboto
    font-style normal
    src url(../assets/fonts/Roboto-Regular.ttf)
@font-face
    font-family Roboto-Bold
    font-style normal
    src url(../assets/fonts/Roboto-Bold.ttf)
*
    margin 0
    padding 0
    font-family Roboto
    box-sizing border-box
header
    position fixed
    top 0
    left 0
    padding: 0 30px
    background white
    width 100%
    box-sizing border-box
    z-index 10000
    nav
        float right
        z-index 10000
        ul
            margin 0
            padding 0
            display flex
            li
                list-style none
                a
                    line-height: 40px 
                    padding: 2px 18px
                    color rgb(52, 157, 255)
                    margin-left 7px
                    margin-top  20px
                    font-family Roboto
                    text-decoration none
                    display block
                    font-size 18px
                    &:hover
                        color rgb(3, 85, 161);
                a.registrar
                    background rgb(8, 111, 207)
                    border 1px rgb(8, 111, 207) solid
                    padding 0 20px
                    color white
                    border-radius 6px
                a.sesion
                    padding 0 20px
                    color rgb(52, 157, 255);
                    border 1px rgb(8, 111, 207) solid
                    border-radius 6px
                    &:hover
                        background rgb(8, 111, 207)
                        color white
                        transition 2.3s
     .logo
        float left 
        padding 10px 30px
        transition .5s
    .menu-toggle
        color rgb(8, 111, 207)
        line-height 80px
        float right
        font-size 34px
        cursor pointer
        display none
header.black
    box-shadow -10px 5px 5px rgba(0, 0, 0, 0.8);

@media (max-width:991px)
    header
        position fixed
        padding: 0 20px
        background white
        .menu-toggle
            display block
        nav
            position absolute
            width 100%
            height 70vh
            float right
            background gray
            top 85px
            left -100%
            transition 0.5s
            z-index 10000
            ul
                display block
                text-align center
                li
                    a
                        color white
                        font-size 18px
                    a.sesion
                        color white
        nav.active
            left 0
/*****************************************************************************************************************/
/*******************************************************Content-Principal *******************************************/
/*****************************************************************************************************************/
.content-section
    width 100%
    height 100vh
    margin-top 80px
    background linear-gradient(rgba(0, 0, 0,.50) 0% , rgba(0, 0, 0,.50)), url(../assets/Imagenes/fondo-pricipal.jpg) 
    background-size cover
    .section-text
        position relative
        width 45%
        margin auto
        top 200px
        .text
            .title
                position relative
                text-align center
                font-size 40px
                font-weight bold
                color white
                font-family Roboto 
        .tex
            position relative
            color white
            text-align center
            font-size 18px
            top 15px
            font-family Roboto 
        .text-center
            position relative
            margin auto
            .planes
                position relative
                display inline-block
                color white
                margin-top 60px
                text-decoration none
                font-family Roboto 
                font-size 17px
                padding 12px 20px
                background rgb(8, 111, 207)
                border-radius 6px
                font-weight 400
                left 37%
                &:hover
                    background rgb(29, 132, 228)
                    transform scale(1.1)
                    transition 1.1s
@media (max-width:991px)
    .content-section
        .section-text
            width 80%
            top 180px
@media (max-width:520px)
    .content-section
        .section-text
            .text
                .planes
                     left 30%
/*****************************************************************************************************************/
/*******************************************************Content-Sevicios *******************************************/
/*****************************************************************************************************************/
.content-servicios
    margin-top 50px
    width 100%
    h2
        text-align center
        color rgb(52, 157, 255)
        font-size 40px
        font-family Roboto
    .content-mas
        transform rotateX(160deg)
        display none
    .content-mas.active
        overflow auto
        transform rotateX(360deg)
        transition 10s
        display block
    .servicios
        width 100%
        display flex
        flex-wrap wrap
        .col-servicio
            width 25%
            height 40%
            margin-top 5%
            margin-left 7%
            .imagenes
                width 45%
                height 45%
                padding 0 18px
                img
                    width 100%
                    height 100%
        h3
            margin-top 15px
            font-size 22px
            padding 0 18px
        p
            font-family Roboto
            padding 18px
    .text-center
        text-align center
        .mostrar
            width 20%
            margin auto
            margin-top 60px
            color rgb(52, 157, 255);
            border 2px rgb(8, 111, 207) solid
            border-radius 6px
            padding 15px 15px
            font-family Roboto 
            cursor pointer
            &:hover
                background rgb(8, 111, 207)
                color white
                transform scale(1.1)
                transition 2.3s
@media (max-width:991px)
    .content-servicios
        .servicios
            .col-servicio
                width 40%
                height 55%
                margin-top 4%
@media (max-width:550px)
     .content-servicios
        .servicios
            .col-servicio
                width 90%
/*****************************************************************************************************************/
/*******************************************************Content-Planes *******************************************/
/*****************************************************************************************************************/
.content-compras
    width 100%
    margin-top 100px
    h1
        color black
        text-align center
        font-size 40px
        font-family Roboto 
    .content-planes
        margin auto
        margin-top 40px
        width 95%
        height 90%
        display flex
        flex-wrap wrap
        .planes
            width 30%
            border-radius 6px
            background white
            margin-left 2.5%
            margin-top 30px
            border 2px black solid
        .planes.resaltar
            transform scale(1.07)
            animation dante 6s infinite

        h2
            color white
            width 100%
            height 50px
            line-height 50px
            font-size 30px
            border-radius 6px
            background  gray
            text-align center
            border-bottom 1px black solid
        .premium
            width 100%
            background rgb(8, 111, 207)

        .plans
            margin auto
            width 90%
            h3
                color black
                font-size 28px
                line-height 100px
                text-align center
             li
                list-style none
                padding 0 20px
                font-size 18px
                margin-top 20px
                i.fa.fa-check
                    color rgb(8, 111, 207)
            .mas-plans
                margin auto
                display none
                width 100%
            .mas-plans.active
                transition 10s
                display block

            .bajar
                padding 20px 20px
                line-height 60px
                font-family Roboto
                color rgb(8, 111, 207)
                cursor pointer

            .comprar
                position relative
                line-height 60px
                margin-left 30%
                padding 12px 20px
                background rgb(8, 111, 207)
                color white
                text-decoration none
                border-radius 6px
                &:hover
                    background rgb(29, 132, 228)
                    transition 1.1s
@media (max-width:991px)
    .content-compras
        .content-planes
            .planes
                width 45%
@media (max-width:550px)
    .content-compras
        .content-planes
            .planes
                margin auto
                margin-top 10%
                width 90%
/*****************************************************************************************************************/
/*******************************************************Content-empresas*******************************************/
/*****************************************************************************************************************/
.content-empresas
    width 100%
    margin-top 100px
    .text-center
        text-align center
        a
            position relative
            display inline-block
            color white
            text-decoration none
            font-family Roboto 
            font-size 18px
            padding 12px 20px
            background rgb(8, 111, 207)
            border-radius 6px
            margin-top 35px
h1
    text-align center
    margin-top 5px
    margin-bottom 70px
    color black
    font-size 40px
    font-family Roboto 
.contenedor.mas
    display none
.contenedor
    width 100%
    background none
    flex-wrap wrap
    display flex
    .gallery
        width 17%
        height 200px
        margin-left 2.4%
        margin-top 4px
        margin-bottom 10px
        border none solid
        img
            width 100%
            height 100%
            background-size cover
            cursor pointer
            padding 2px
            transition 1s
            border-radius: 6px
            filter: grayscale(100%)
            &:hover
                filter: grayscale(0%)

@media (max-width:791px)
    .contenedor
        margin-top 40px
        .gallery
            width 45%
            height 150px
            background white
            margin-left 15px
            margin-top 20px
            border none solid 
@media (max-width:499px)
    .contenedor
        margin-top 80px
        .gallery
            width 90%
            height 250px
            background white
            margin-left 25px
            margin-top 4px
            border none solid
/*****************************************************************************************************************/
/*******************************************************Content-garantia*******************************************/
/*****************************************************************************************************************/
.content-garantia
    width 100%
    margin-top 40px
    h2
        text-align center
        color  black
        font-size 40px
        font-family Roboto 
        margin-top 20px
        margin-bottom 10px
    p
        text-align center
        width  40%
        margin auto
        margin-top 20px
        margin-bottom 40px
        font-size 18px
        font-family Roboto 
    a
        position relative
        margin-left 45%
        margin-top 7px
        padding 12px 20px
        background rgb(8, 111, 207)
        color white
        text-decoration none
        border-radius 6px
        font-family Roboto 
    .garantia
        margin auto
        width 100%
        background none

@media (max-width:700px)
    .content-garantia
        a
            margin-left 40%
        p
            width  80%
@media (max-width:700px)
    .content-garantia
        height 40vh
/*****************************************************************************************************************/
/*******************************************************Content-footer *******************************************/
/*****************************************************************************************************************/
.content-footer
    margin-top 50px
    width 100%
    background black
    .content-section-footer
        width 100%
        flex-wrap wrap
        display flex
        .col-footer
            margin-top 25px
            width 30%
            margin-left 2.5%
            .logo
                padding 0 30px
        p
            width 90%
            padding 15px 30px
            color white
            font-family Roboto
        h2
            text-align center
            margin-bottom 10px
            color white
            font-size 40px
            font-family Roboto
        a
            position relative
            padding 20px 35px
            color white
            i
                font-size 30px
                margin-top 20px
                margin-bottom 20px
        li
            position relative
            padding 10px 22px
            list-style none
            font-family Roboto
            a
                text-decoration none
                font-family Roboto
        .contact
            padding 20px 32px
            i
                font-size 30px
                color white
            span
                margin-left 12px
                color white
    .copy
        width 100%
        margin-top 5px
        height 40px
        p
            text-align center
            color white
            padding 10px

@media (max-width:991px)
    .content-footer
        .content-section-footer
            .col-footer
                width 45%
                margin-top 20px
                margin-left 15px
@media (max-width:560px)
    .content-footer
        .content-section-footer
            .col-footer
                width 90%
                margin-top 10%
                margin-left 15px
        .copy
            margin-top 5%
/*****************************************************************************************************************/
/*******************************************************Content-Equipo *******************************************/
/*****************************************************************************************************************/
.img-content
    width 100%
    height 90vh
    margin-top 80px
    img
        width 100%
        height 100%
        background-size cover
.content-equipo
    width 100%
    height 60vh
    margin-top 5px
    margin-bottom 140px
    .swiper-container
        width 100%
        padding-top 20px
        margin-bottom 60px
        .swiper-slide
            background-position center 
            background-size cover
            width 350px
            height 400px
            background white
            .imgbox
                width 100%
                img 
                    width 100%
                    height 300px
                    background-size cover
            .details
                background black
                width 100%
                height 100px
                h3
                    text-align center
                    font-family Roboto sans-serif
                    color white
                p
                    text-align center
                    font-family Roboto sans-serif
                    color white
                a
                    position relative
                    margin-left 20%
                    top 10px
                    font-size 35px
                    font-family Roboto sans-serif
                    i
                        color white
/*****************************************************************************************************************/
/*******************************************************Content-Contacto *******************************************/
/*****************************************************************************************************************/
.contact-link
    width 100%
    height 50vh
    margin-top 50px
    display flex
    flex-wrap wrap
    .link
        width 22%
        height 90%
        margin-left 2.3%
        .social
            width 20%
            height 20%
            border-radius 50%
            padding-top 15px
            background yellow
            margin auto
            background  rgb(8, 111, 207)
            i.fa.fa-map-marker.mapa
                font-size 30px
                padding-left 35%
                color white
            i.fa.fa-phone.telefono
                font-size 30px
                padding-left 30%
                color white
            i.fa.fa-envelope.correo
                font-size 30px
                padding-top -7px
                padding-left 24%
                color white
            i.fa.fa-chrome.web
                font-size 30px
                padding-left 22%
                color white
        h2
            text-align center
            font-size 35px
            padding-top 7px
            font-family Roboto
        p
            text-align center
            padding 20px
            font-size 18px
            font-family Roboto 
.content-contacto
    width 100%
    flex-wrap wrap
    display flex
    .col-contact-6
        width 45%
        margin-bottom 40px
        margin-left 3.3%
        .mapa
            width 100%
            height 513px
            border-radius 6px
        form
            width 95%
            border-radius 6px
            background rgb(8, 111, 207,0.5)
            margin auto
            border 1px white solid
            h2
                text-align center
                margin-top 10px
                margin-bottom 20px
                font-size 35px
                color white
            .text-center
                margin-top 30px
                margin-bottom 30px
                text-align center
                .control-submit
                    padding 10px 20px
                    border-radius 6px
                    background gray
                    color white
                    cursor pointer
            .form-grop
                width 80%
                margin auto
                margin-top 30px
                flex-wrap wrap
                display flex
                .group-prepend
                    width 10%
                    height 40px
                    background gray
                    border-top-left-radius 6px
                    border-bottom-left-radius 6px
                    .input-group-text
                        position relative
                        width 50%
                        margin auto
                        top 10px
                        i
                            font-size 22px
                            color white
                .form-control
                    width 84%
                    height 41px
                    border-top-right-radius 6px
                    border-bottom-right-radius 6px
                .control-textarea
                    width 95%
                    height 150px
                    border-radius 6px
                    max-height 120px
@media (max-width:991px)
    .contact-link
        .link
            width 18%
            height 50%
            margin-left 2.3%
            .social
                width 36%
                height 30%
                border-radius 50%
                padding-top 15px
                background yellow
                margin auto
                background  rgb(8, 111, 207)
                i.fa.fa-map-marker.mapa
                    font-size 30px
                    padding-left 35%
                    color white
                i.fa.fa-phone.telefono
                    font-size 30px
                    padding-left 30%
                    color white
                i.fa.fa-envelope.correo
                    font-size 30px
                    padding-top -7px
                    padding-left 24%
                    color white
                i.fa.fa-chrome.web
                    font-size 30px
                    padding-left 22%
                    color white
    .content-contacto
        .col-contact-6
            width 80%
            margin auto
@media (max-width:550px)
    .contact-link
        height 80vh
        .link
            width 40%
            height 30%
            margin-top -15px
            margin-left 5.3%
            .social
                width 40%
                height 40%
                border-radius 50%
                padding-top 10px
                margin auto
                background  rgb(8, 111, 207)
                i.fa.fa-map-marker.mapa
                    font-size 40px
                    padding-top 10px
                    padding-left 35%
                    color white
                i.fa.fa-phone.telefono
                    font-size 40px
                    padding-top 9px
                    padding-left 30%
                    color white
                i.fa.fa-envelope.correo
                    font-size 40px
                    padding-top 5px
                    padding-left 24%
                    color white
                i.fa.fa-chrome.web
                    font-size 40px
                    padding-top 5px
                    padding-left 24%
                    color white
            h1
                font-size 30px
/*****************************************************************************************************************/
/*******************************************************Content-Registro *******************************************/
/*****************************************************************************************************************/
.content-registro
    width 100%
    height 120vh
    display flex
    flex-wrap wrap
    .col-form
        width 40%
        height 100%
        .logo
            margin-left 37%
            padding-top 20px
        h1
            color rgb(8, 111, 207)
            text-align center
            font-family Roboto 
        form
            width 95%
            border-radius 6px
            margin auto
            border 1px white solid
            h2
                text-align center
                margin-top 10px
                margin-bottom 20px
                font-size 35px
                color white
            .form-grop
                width 80%
                margin auto
                margin-top 30px
                flex-wrap wrap
                display flex
                .group-prepend
                    width 10%
                    height 40px
                    background rgb(8, 111, 207)
                    border-top-left-radius 6px
                    border-bottom-left-radius 6px
                    .input-group-text
                        position relative
                        width 50%
                        margin auto
                        top 10px
                        i
                            font-size 22px
                            color white
                .form-control
                    width 84%
                    height 41px
                    border-top-right-radius 6px
                    border-bottom-right-radius 6px
                    
                .control-registrar
                    width 84%
                    height 40px
                    background rgb(8, 111, 207)
                    border-top-right-radius 6px
                    border-bottom-right-radius 6px
                    border none
                    color white
                    &:hover
                        background rgb(0, 97, 187)
                    a
                        text-decoration none
                        color white
                        font-size 14px
                .control-submit
                    width 94%
                    height 40px
                    border none
                    font-size 14px
                    border-radius 6px
                    background rgb(8, 111, 207)
                    color white
                    cursor pointer
            p
                text-align center
                margin-top 40px
                font-size 17px
                span
                    a
                        color red
                        text-decoration none
    .col-imagen
        width 60%
        height 100%
        img
            width 100%
            height 100%
            background-size cover